{% extends "core/base.html" %}
{% block title %} Conoce {% endblock %}


{% block content %} 
{% load static %}
<center><h1>¿Sabes qué cantidad de dinero mueve el turismo durante los feriados en Ecuador?</h1></center>
<center><h4>Aquí Te Traemos Una Tabla Del Gasto Total en Feriados por Turismo en Ecuador</h4></center>


<div id="tabla-main">
    <table>
        <thead>
            <tr>
                <td>Año</td>
                <td>Feriado</td>
                <td>Monto Anual (Millones de Dolares)</td>
            </tr> 
        </thead>
        <tr>
            <td>2023</td>
            <td>Carnaval</td>
            <td>$96</td>
        </tr>
        <tr>
            <td>2023</td>
            <td>Semana Santa</td>
            <td>$49</td>
        </tr>
        <tr>
            <td>2023</td>
            <td>1ero de Mayo</td>
            <td>$45</td>
        </tr>
        <tr>
            <td>2023</td>
            <td>24 de Mayo</td>
            <td>$49</td>
        </tr>
        <tr>
            <td>2023</td>
            <td>10 de Agosto</td>
            <td>$49</td>
        </tr>
        <tr>
            <td>2023</td>
            <td>9 de Octubre</td>
            <td>$49</td>
        </tr>
        <tr>
            <td>2023</td>
            <td>2 y 3 de Noviembre</td>
            <td>$78</td>
        </tr>
        <tr>
            <td>2023</td>
            <td>Navidad</td>
            <td>$34</td>
        </tr>
        <tr>
            <td>2023</td>
            <td>Fin de Año</td>
            <td>$59</td>
        </tr>
    </table>
</div>


{% endblock %} 