{% extends "core/base.html" %}
{% block title %} Destinos {% endblock %}
{% block content %} 
{% load static %}

<center><h1>3 MEJORES DESTINOS TURISTICOS DE ECOTURISMO EN ECUADOR</h1></center>
<h2>Mashpi.</h2>
<p style="text-align:justify;">
Ubicado en la biorregión del Chocó, Mashpi es un paraíso para la biodiversidad. Cuando se trata de sostenibilidad e inmersión, Mashpi es único en su clase: ofrece a los visitantes la oportunidad de experimentar algunas de las bellezas naturales más prístinas del mundo, al tiempo que desempeña un papel importante en los esfuerzos de conservación.
mashpi es hogar de una increíble diversidad de vida vegetal y animal, incluidas muchas especies raras y en peligro de extinción. El albergue en sí fue construido utilizando tecnologías sustentables de vanguardia y fue diseñado para tener un impacto mínimo en el medio ambiente circundante. Los visitantes pueden explorar la reserva a pie por sus múltiples senderos, o incluso en tirolesa y góndola, conociendo de cerca a los asombrosa biodiversidad de la zona. Con su compromiso de sostenibilidad y conservación, Mashpi es verdaderamente un destino único para el ecoturismo en Ecuador y marca tendencia en lo que respecta a prácticas de ecoturismo.
</p>
<center><img src="{% static 'img/t1.png' %}" width="400px" alt="Mahpi"></img></center>
<h2>Cotopaxi.</h2>
<p style="text-align:justify;">
Otro destino de visita obligada para cualquier ecoturista es Parque Nacional Cotopaxi. Casa de uno de los volcanes activos más altos del mundo, Cotopaxi es el sueño de todo amante de la aventura. El parque también cuenta con una serie de diferentes senderos que serpentean a través de un paisaje impresionante, convirtiéndolo en el Lugar perfecto para practicar senderismo o bicicleta de montaña. Los visitantes del parque pueden disfrutar de caminatas, acampar, observar aves e incluso montar a caballo. Con tanto que ver y hacer, no es de extrañar que el Parque Nacional Cotopaxi sea un destino tan popular tanto para los ecuatorianos como para los visitantes internacionales.
</p>
<center><img src="{% static 'img/t2.png' %}" width="400px" alt="Mahpi"></img></center>
<h2>Galápagos.</h2>
<p style="text-align:justify;">
Por supuesto, ninguna lista de los principales destinos ecológicos de Ecuador estaría completa sin la Islas Galápagos. Este archipiélago es mundialmente conocido por su vida silvestre única, y es una visita obligada para cualquier amante de la naturaleza. De desde hacer snorkel con leones marinos hasta caminar por campos de lava, hay mucho que hacer en Galápagos.

El Parque Nacional Galápagos* también es hogar de una variedad de especies únicas, incluida la tortuga gigante, que puede pesar hasta 1000 libras. El ecoturismo es una parte importante de la economía del parque y los visitantes pueden experimentar de primera mano la belleza y fragilidad de este ecosistema único.
</p>
<center><img src="{% static 'img/t3.jpg' %}" width="400px" alt="Mahpi"></img></center>
{% endblock %}