{% extends "core/base.html" %}
{% block title %}Practicas{% endblock %}
{% load static %}
{% block content %}
<center><h1>¿Te interesa saber cuáles son las mejores prácticas del turismo?</h1></center>
<center><h2>Te Invito A Ver Estos Vídeos</h1></center>
<hr>
<center><h4>Buenas prácticas turísticas y sostenibles.</h4></center>
<center><iframe src="https://www.youtube.com/embed/XGe0YIH7a8I?si=15MQjvZKeLQbFW2X" width="700" height="513" frameboder="2" allowfullscreen></iframe></center>
<hr>
<center><h4>Las mejores prácticas para hacer turismo sustentable.</h4></center>
<center><iframe src="https://www.youtube.com/embed/shr54JgD8Ck?si=hNCf1ZDEiKUvouAN" width="700" height="513" frameboder="2" allowfullscreen></iframe></center>
<hr>
<center><h4>Guía de Buenas Prácticas para Prestadores de Servicios Turísticos</h4></center>
<center><iframe src="https://www.youtube.com/embed/K0XylYsVzb0?si=w4UKL-kdKW_VjIN3" width="700" height="513" frameboder="2" allowfullscreen></iframe></center>
{% endblock %}